@model Web.Areas.Admin.Models.Users.UserModel
@{
    ViewData["Title"] = "Create User";
    ViewBag.Title = "Create New User";
}

<form class="user-create-form" asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="menu-option-list user-option-list d-flex justify-content-end">
        <button type="submit" name="save" value="save" class="btn btn-success"><span class="material-symbols-outlined">save</span><span>Save</span></button>
        <button type="submit" name="save" value="save-continue" class="btn btn-success"><span class="material-symbols-outlined">save_as</span><span>Save and Continue</span></button>
    </div>

    @if (Model.SuccessMessage.Count > 0)
    {
        foreach (var successMessage in Model.SuccessMessage)
        {
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                @successMessage
            </div>
        }
    }
    
    @if(Model.ModelError.Count > 0){
        foreach(var errorMessage in Model.ModelError){
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                @errorMessage
            </div>
        }
    }
    
    <div class="form-elements">
        <div class="row">
            <div class="col-md-4 form-label form-group">
                <label for="Name">Name</label>
            </div>
            <div class="col-md-8 form-group">
                <input type="text" class="form-control" asp-for="Name" required>
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                @*<small style="color: red;">Name is Required</small>*@
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 form-label form-group">
                <label for="Email">Email</label>
            </div>
            <div class="col-md-8 form-group">
                <input type="email" class="form-control" asp-for="Email" required>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 form-label form-group">
                <label for="Username">UserName</label>
            </div>
            <div class="col-md-8 form-group">
                <input type="text" class="form-control" asp-for="Username">
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 form-label form-group">
                <label for="Password">Password</label>
            </div>
            <div class="col-md-8 form-group">
                <input type="password" class="form-control" asp-for="Password" required>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 form-label form-group">
                <label for="Active">Active</label>
            </div>
            <div class="col-md-8">
                <input type="checkbox" asp-for="Active"/>
                @*@Html.CheckBoxFor(m => m.Active, false)*@
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 form-label form-group">
                <label for="UserRole">User Role</label>
            </div>
            <div class="col-md-8 form-group">
                <select asp-for="UserRole" class="form-control" asp-items="@Model.AvailableUserRoles"></select>
                @*@Html.DropDownList("UserRole", Model.AvailableActiveTypes, new { @class = "form-control" })*@
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 form-label form-group">
                <label for="Gender">Gender</label>
            </div>
            <div class="col-md-8 form-group">
                <select asp-for="Gender" class="form-control" asp-items="@Model.AvailableGender"></select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 form-label form-group">
                <label for="DateOfBirth">Date Of Birth</label>
            </div>
            <div class="col-md-8 form-group">
                <input type="date" class="form-control" asp-for="DateOfBirth">
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 form-label form-group">
                <label for="PicturePath">Profile Picture</label>
            </div>
            <div class="col-md-8 form-group picture-upload">
                <output id="output-picture">
                    <span>
                        <img class="thumb" src="/images/admin/no-image-icon.png" />
                    </span>
                </output>
                <input type="file" id="picture-file" class="form-control" asp-for="PictureFile" accept="image/*">
            </div>
        </div>

    </div>
</form>

<script asp-location="Footer">
    function handleFileSelect(evt) {
        var file = evt.target.files[0];

        let outputPicture = document.getElementById("output-picture");
        outputPicture.innerHTML = `<span><img class="thumb" src="/images/admin/no-image-icon.png" /></span>`;

        if (file != 'undefined') {
            var reader = new FileReader();

            // Closure to capture the file information.
            reader.onload = (function (theFile) {
                return function (e) {
                    outputPicture.innerHTML = `<span><img class="thumb" src="${e.target.result}" title="${escape(theFile.name)}"/></span>`;
                };
            })(file);

            // Read in the image file as a data URL.
            reader.readAsDataURL(file);
        }
    }
    document.getElementById('picture-file').addEventListener('change', handleFileSelect, false);
</script>
