@model UserSearchModel
@using Data.Users;
<div>This is user table</div>
@{
    ViewBag.Title = "Users";
    ViewBag.ActiveMenuId = "#menu-users";
}
<div class="menu-option-list user-option-list d-flex justify-content-end">
    <a href="/admin/user/create" class="btn btn-success">
        <span class="material-symbols-outlined">add_box</span>
        <span>Create New</span>
    </a>
</div>

<div class="search-section user-search-section">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="Name">Name</label>
                <input type="text" class="form-control" asp-for="Name" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="email" class="form-control" asp-for="Email">
                @*<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>*@
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="UserName">UserName</label>
                <input type="text" class="form-control" asp-for="Username">
            </div>
            <div class="form-group">
                <label for="UserRole">User Role</label>
                @Html.DropDownList("UserRole", Model.AvailableActiveTypes, new { @class = "form-control" })
                @*<select asp-for="UserRole" asp-items="Model.AvailableActiveTypes" />*@
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" style="text-align: center;">
            <button id="btn-user-search" class="btn btn-primary">Search</button>
        </div>
    </div>
</div>


@await Html.PartialAsync("Table", new DataTablesModel
{
    Name = "user-table",
    UrlRead = new DataUrl("GetUsers", "User"),
    UrlUpdate = new DataUrl("EditUser", "User"),
    UrlDelete = new DataUrl("DeleteUser" , "User"),
    SearchButtonId = "btn-user-search",
    SearchDivClassName = "user-search-section",
    Filters = new List<FilterParameter>
    {
        new FilterParameter(nameof(Model.Email)){

        },
        new FilterParameter(nameof(Model.Name)){

        },
        new FilterParameter(nameof(Model.UserRole)){

        }
    },
    ColumnCollection = new List<ColumnProperty>
    {
        new ColumnProperty(nameof(Model.Id))
        {
            Title = "Id",
            Render = Render.Data
        },
        new ColumnProperty(nameof(Model.Name))
        {
            Title = "Name"
        },
        new ColumnProperty(nameof(Model.Email))
        {
            Title = "Email"
        },
        new ColumnProperty(nameof(Model.Uid))
        {
            Title = "Uid"
        },
        new ColumnProperty(nameof(Model.Active))
        {
            Title = "Active"
        },
        new ColumnProperty(nameof(Model.Deleted))
        {
            Title = "Deleted"
        },
        new ColumnProperty(nameof(Model.CreatedDate))
        {
            Title = "Created Date"
        },
        new ColumnProperty(nameof(Model.LastIpAddress))
        {
            Title = "Last IP Address"
        },
        new ColumnProperty(nameof(Model.LastActivityDate))
        {
            Title = "Last Activity Date"
        },
        new ColumnProperty(nameof(Model.Id))
        {
            Title = "Edit",
            Render = Render.Edit
        },
        new ColumnProperty(nameof(Model.Id))
        {
            Title = "Delete",
            Render = Render.Delete
        }
    }
})
